:root {
  --color-primary: #eb5440;
  --color-secondary: #4a4b4c;
  --color-tertiary: #e8e8e8;
  --color-tertiarydarker: #c3c3c3;
  --color-background: #f6f6f6;
  --color-backgroundwhite: #ffffff;
  --color-primarytext: #000000;
  --color-secondarytext: #4a4b4c;
  --Color-hyperlink: #067bc2;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* *,
*::before,
*::after {
  box-sizing: border-box; */
/* 
  margin: 0;
  font-weight: normal;
} */

h1 {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 18px;
}

h2 {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 14px;
}

body {
  height: 90vh;
  width: 100vw;
  color: var(--color-primarytext);
  background: var(--color-background);
  line-height: 1.6;
  font-family: Montserrat, OpenSans;
  font-size: 15px;
}

.btn {
  font-family: Montserrat;
  font-size: 12px;
}

@media (min-width: 800px) {
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 22px;
  }

  body {
    font-size: 18px;
  }

  .btn {
    font-size: 14px;
  }
}
